#projects {
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f7f7f7;
    padding-bottom: 3em;
    padding-top: 3em
}

#projects-title-description > h1 {
    text-align: center;
    margin: auto;
    margin-bottom: .2em;
    color: #b8d8be;
}

#projects-description {
    font-size: 1.4em;
    text-align: center;
    margin: auto;
    margin-bottom: 3em;
}

#projects-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 500px;
    height: 615px;
}

.project-wrapper {
    margin: 1em;
    border: 1px solid black;
    background-color: white;
}

.project-image {
    height: 333px;
    width: 500px;
}

.project-info-wrapper > h4, .project-info-wrapper > h5 {
    text-align: center;
    margin: .7em auto;
}

.app-title {
    font-size: 48px;
}

.app-subtitle {
    font-size: 24px;
}

.build-date, .app-description {
    font-size: 16px;
}

#tags-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}