#projects {
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects-title-description > h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    color: #b8d8be;
}

#projects-description {
    font-size: 1.4em;
    text-align: center;
    margin: auto;
    margin-bottom: .2em;
}

#projects-container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}