.project-wrapper {
    position: relative;
    margin: 1em;
    background-color: white;
    height: 700px;
    width: 500px;
}

.project-info-wrapper {
    padding: 1em
}

.project-image {
    height: 333px;
    width: 500px;
}

.app-title {
    font-size: 48px;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    margin-top: 0;
    margin-bottom: .2em;
}

.app-subtitle {
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    margin-top: 0;
    margin-bottom: .2em;
}

.build-date, .app-description {
    font-size: 16px;
    text-align: left;
    color: #505050
}

.build-date {
    font-style: italic;
    margin-bottom: 2em;
}

.app-description {
    line-height: 1.5em;
}

#tags-container {
    position: absolute;
    display: flex;
    align-items: flex-start;
    bottom: 100;
    left: 100
}