#skill-stack {
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#skill-stack-title-description > h1 {
    text-align: center;
    margin: auto;
    margin-bottom: .2em
}

#skill-stack-description {
    font-size: 1.4em;
    text-align: center;
    margin: auto;
    margin-bottom: 3em
}

#skill-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 108px;
    margin: 10px;
    margin-bottom: 1.5em;
}

.skill-stack-icon {
    height: 78px;
    width: 78px;
    padding: 8px
}

.skill-title {
    font-size: 16px;
    font-family: sans-serif;
}

.icons {
    width: 330px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-section {
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 4em;
}

#skills-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    /* align-items: center; */
}

.title {
    font-family: 'Barlow Condensed', sans-serif;
}