#hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #588b61;
    height: 40vh;
    padding-bottom: 15em
}

#hero:after {
    position: absolute;
    width: 1100%; height: 1100%;
    top: 20px; right: -500%;
    background: rgba(255,255,255,.8);
    transform-origin: 54% 0;
    transform: rotate(45deg);
    z-index: -1;
}

.hero-text {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    font-size: 9em;
    text-align: left;
    width: 700px;
    margin-bottom: -.2em
}

#fullstack-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

#hero-cutoff {
    position: absolute;
    display: flex;
    bottom: 0

}

#transparent-box-1 {
    height: 15vh;
    width: 15vh;
    background-image: -webkit-linear-gradient(65deg, white 50%, #588b61 50%);
}

#transparent-box-2 {
    height: 15vh;
    width: 15vh;
    background-color: white;
    background-image: -webkit-linear-gradient(132deg, white 50%, #588b61 50%);
}

#hero-button:hover {
    cursor: pointer
}

#image {
    height: 1000px
}