#contact {
    padding: 10em 6em;
    background-color: #588b61;
}

#contact-text-1 {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    font-size: 9em;
    text-align: left;
    width: 700px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin-bottom: -1em
}

#contact-text-2 {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    font-size: 9em;
    text-align: left;
    width: 700px;
    margin-bottom: .2em
}

#contact-email {
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: underline;
}