#about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-top: 5em;
    background-color: #f7f7f7;
    padding-bottom: 3em;
    padding-top: 3em
}

.title {
    font-size: 3em
}

#about-me > h1 {
    color: #b8d8be;
}


#profile-picture {
    display: block;
    height: 300px;
    width: 300px;
    border: 1em solid white;
    border-radius: 50%;
}

#about-me-description {
    width: 800px;
    text-align: center;
    font-size: 1em;
    line-height: 1.8em;
    color: rgb(49, 48, 48);
}